@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SF Pro Display", "Golos", "system-ui", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  @apply w-1.5 h-3;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-600/50 rounded-xl;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #C5CAE9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 134, 203, 0.7);
  border-radius: 6px;
}

.tr_hover:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #00897B;
}