thead tr {
}
thead tr th {
    font-weight: 600 !important;
    background-color: transparent !important;
    /*background-color: #1976D2 !important;*/
    /*color: #e7e7e7 !important;*/
}

thead tr th:first-child {
    /*border-top-left-radius: 2px;*/
}

thead tr th:last-child {
    /*border-top-right-radius: 2px;*/
}

tbody tr td {
    /*border-bottom: 1px solid #efefef;*/
}

thead tr th:not(td:last-child) {
    /*border-right: 1px dashed rgba(255, 255, 241, 0.05);*/
}

tbody tr td:not(td:last-child) {
    /*border-right: 1px dashed rgba(0, 0, 0, 0.05);*/
}

tbody tr:last-child td:first-child {
    /*border-bottom-left-radius: 2px;*/
}

tbody tr:last-child td:last-child {
    /*border-bottom-right-radius: 2px;*/
}

tbody tr {
    /*background-color: rgba(250, 250, 250, 0.9);*/
    /*background-color: rgba(204, 235, 253, 0.05);*/
    /*#ECEFF1*/
}

.row-hover:hover {
    /*background-color: #fffff1 !important;*/
    cursor: pointer !important;
}