@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  @apply w-1.5 h-3;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-600/50 rounded-xl;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ECEFF1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #546E7A;
  border-radius: 6px;
}

tr:hover > td:not(:last-child) {
  text-decoration: underline;
  cursor: pointer;
}