@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("main-tables.css");

@font-face {
  font-family: TildaSansRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/tilda-sans_regular.woff);
}

@font-face {
  font-family: GolosTextRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GolosText-Regular.woff);
}


* {
  font-family: TildaSansRegular, GolosTextRegular, sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  @apply w-1.5 h-1;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ECEFF1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #546E7A;
  border-radius: 6px;
}